/* Estilos gerais */
body {
    background-color: #120a8f;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    color: #000;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #f4f4f4;
    color: #000;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

main {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #120a8f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

button:hover {
    background-color: #0f087a;
}

/* Media Queries para Responsividade */

/* Tablets e dispositivos maiores */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

/* Dispositivos menores, como celul
